head
link(rel='stylesheet', href='css/main.css', type='text/css', media='screen', charset='utf-8')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
script(src='js/napisy.js')
body#allanimals
  script.
    startupSequence();
  
  .intro-sequence
    .loading
    div
      p
        span Witaj, 
        span mam na imie 
        span Michal
      p
        span Na 
        span 4 
        span Miesiace 
        span przed 
        span moimi 18-urodzinami 
        span 
      p
        span zapadlem 
        span w 
        span spiaczke
        span ,
        span na 
        span skutek 
        span wady serca
      p
        span in
        span einer
        span interaktiven
        span ausstellung.
      p.textured-type HIFA MULTIMEDIA EXHIBITION
    .intro-content
      a.weiter-button(href='index.php')
        span
          | Explore 
          i the
          |  exhibition

  section.world
    div.back.one
    div.back.two
    div.back.three
    div.back.four
    div.floor
      div.rock.one
      div.rock.two
      div.rock.three
      div.grass.one
      div.grass.two
      div.grass.three
      div.grass.four
      div.grass.five
      div.grass.six
      div.grass.seven
      div.grass.height
      div.grass.nine
      div.grass.ten
    div.cloud.one
    div.cloud.two
    div.cloud.three
    
    div.stick
      div.head
      div.arm.arm-left
        div.bottom
      div.arm.arm-right
        div.bottom
      div.leg.leg-left
        div.bottom
      div.leg.leg-right
        div.bottom
